@import "../layout/src/scss/main";

@import '~bootstrap-vue/dist/bootstrap-vue.css';

.invalid-feedback {
    display: block !important;
    font-weight: bold;
    font-size: 100%;
}

body {
    top: 0 !important;
}

.skiptranslate {
    display: none !important;
}

red-header {
    height: 147px;
    display: inline-table;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: 'ADD';
}
