@import "variables";
@import "lte";
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~vue-select/dist/vue-select.css';
@import url("~@fortawesome/fontawesome-free/css/all.css");
@import "theme";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0 !important;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #333333
    }

    &::-webkit-scrollbar {
        width: 10px;
        background-color: #333333
    }

    &::-webkit-scrollbar-thumb {
        background-color: $red;
        border: 2px solid $red;
    }
}

.sidebar {
    .avatar {
        width: 34px;
        height: 34px;
        object-fit: cover;
        border-radius: 50%;
        transition: transform 1s ease-in-out;
    }

    .nav-link {
        &.active, &:hover {
            svg path {
                fill: white !important;
            }
        }
    }
}

.callout a:hover {
    color: #0056b3 !important;
}

.login-page {
    background-size: cover !important;
}

.table-sortable {
    .move {
        cursor: grab;
        vertical-align: middle !important;
    }

    .ui-sortable-helper {
        display: table;
    }
}

.vertical-align-center {
    vertical-align: middle !important;
}

.invalid-feedback {
    display: block !important;
}

.file-uploads.file-uploads-html5 label {
    cursor: pointer;
}

.image-preview {
    display: block;
    max-height: 250px;
    max-width: 100%;
    object-fit: contain;
    margin: 25px auto 0;
}

.table {
    th:first-child {
        width: 50px;
    }

    .date-column {
        width: 150px;
    }

    .actions-column {
        width: 133px;
    }
}
